body, html {
  margin: 0;
}

body {
  background-color: rgb(58, 42, 105);
  color: white;
  font-family: monospace;
  font-size: 25px;
}

.parent {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.heading {
  color: rgb(218, 173, 115);
}

.s-heading {
  color: #aab47f;
}

.eatcrow2-btn {
  background-color: black;
  border-radius: 8px;
  color: #a4ea9a;
  font-family: "Hornet";
  position: absolute;
  padding: 5px;
}

.eatcrow2-btn:hover {
  cursor: pointer;
  background-color: #9df15c;
}

#border-box {
  width: 90%;
  height: 90%;
  background-color: #251860;
  box-shadow: 
    6px 0 18px rgba(0, 0, 0, 0.4), 
    12px 0 32px rgba(0, 0, 0, 0.3),
    1px 0 0 0 rgba(255, 255, 255, 0.02) inset;
}